#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = ipu_billing
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# JWT
#--------------------------------------------------------------------

JWT_SECRET = your_jwt_secret_here_change_this
JWT_EXPIRE = 86400

#--------------------------------------------------------------------
# SEED
#--------------------------------------------------------------------

DEV_SEED_PASSWORD = your_dev_seed_password_here
